parameters:
    app_name:          google-drive-writer-bundle

    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    storage_api.test.token:
    storage_api.test.url: 'https://connection.keboola.com'
    storage_api.url: 'http://connection-internal.keboola.com/'

    shared_sapi.url: 'https://connection.keboola.com'
    shared_sapi.token:

    uploader:
        aws-access-key:
        aws-secret-key:
        s3-upload-path:
        bitly-login:
        bitly-api-key:

    queue:
        access_key:
        secret_key:
        region:
        url:

    elasticsearch:
        hosts: [localhost:9200]

    job_manager:
        index_prefix: devel

    encryption_key:

    components:
        api-google:
            class: Keboola\Google\ClientBundle\Client
            bundle: Keboola\Google\ClientBundle\KeboolaGoogleClientBundle
        wr-google-drive:
            class:  Keboola\Google\DriveWriterBundle\GoogleDriveWriter
            bundle: Keboola\Google\DriveWriterBundle\KeboolaGoogleDriveWriterBundle
