{% extends 'KeboolaGoogleDriveBundle::layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="span12">
			<div class="splash">
				<div class="form-wrapper">
					<div class="text-center">

						<div class="row-fluid">
							<h3 class="span12 center">Google Drive Extractor</h3>
						</div>

						<p>Authentication successful</p>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}